/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url(http://fonts.googleapis.com/css?family=Pacifico);
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #FF662A !important;
    background-attachment: fixed;
    font-family: 'AvenirNextLTW01-Regular', Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    width: 100%;
}

/* Portrait layout (default) */

.app {
    background: url(../img/dglogo.png) no-repeat center top;
    /* 170px x 200px */
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
    /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

.orange {
    background-color: #FF662A;
    width: 100%;
    color: white;
}

.ui-page {
    background-color: #FF662A !important;
}

.cursive {
    font-style: oblique;
    font-family: 'Pacifico', cursive;
}

/* Header */

.ui-bar-inherit {
    background-color: #FF662A !important;
    border: none !important;
}

.ui-field-contain {
    text-shadow: none !important;
    border-bottom-color: #FF662A !important;
}

.consent-header {
    padding: 30px 10% 0px 10%;
    text-align: center !important;
}

.consent-header .ui-title {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
}

/* Footer */

.consent-footer .ui-title {
    font-size: 14px !important;
    padding: 20px 10% 20px 10% !important;
    color: white;
    background-color: #FF662A;
    font-weight: normal;
    margin: 0 auto !important;
}

/* Form */

#status {
    color: white !important;
}

.ui-content {
    background-color: #FF662A;
    border: none;
    padding: 0px !important;
    height: auto;
    margin: 0 auto;
}

.ui-content form {
    width: 300px;
    margin: 0 auto;
}

b {
    font-size: 15px;
    color: white;
}

h1 {
    font-size: 22px !important;
    font-weight: bold;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    color: white;
    background-color: #FF662A;
}

h3 {
    color: #fc6719;
    padding: 0px;
    margin: 0px;
    font-size: 18px !important;
}

p,
li {
    font-size: 15px !important;
}

.ui-content input {
    border: none;
    border-bottom: 1px white solid !important;
    width: 100%;
    margin-bottom: 5px;
    background: #fc6719 !important;
    color: white !important;
}

div.ui-btn,
input[type="submit"] {
    border: 1px solid white !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 270px;
    margin-bottom: 20px;
    background-color: none;
    border-radius: 20px !important;
}

div.ui-btn:active,
input[type="submit"]:active {
    background-color: #fc6719 !important;
    color: white !important;
}

div.ui-btn:target,
input[type="submit"]:target {
    background-color: #fc6719 !important;
    color: white !important;
}

div.ui-input-text,
input[type="email"] {
    background-color: none !important;
    border: none !important;
    width: 100%;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-size: 15px !important;
    margin: 0px 0px 5px 0px !important;
    padding: 0px !important;
    min-height: 1.5em !important;
}

input[type="email"] {
    border-bottom: 1px white solid !important;
    background: #fc6719 !important;
}

div.ui-btn:focus {
    outline: 0 none !important;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #fc6719;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}